<section class="bg-main-light p-4 w-50 mx-auto rounded-3 my-4 shadow">

    <form [formGroup]="checkout" (ngSubmit)="handleForm()">
        <label for="details">details</label>
        <textarea id="details" class="form-control" formControlName="details"></textarea>
        
        <label for="phone">phone</label>
        <input type="tel"  id="phone" class="form-control" formControlName="phone">
  
        <label for="city">city</label>
        <input type="text"  id="city" class="form-control" formControlName="city">
  
         <button class="btn-main my-3">checkout</button>
    </form>

</section>