
<section class="w-75 mx-auto shadow-sm rounded-1 p-4 my-3 bg-main-light">
    <h2 class="my-3">login Now</h2>

    <form [formGroup]="loginForm" (ngSubmit)="login()">
    
      
    
        <div class="form-item mt-2">
            <label for="email">email </label>
            <input type="email" id="email" class="form-control" formControlName="email">
        </div>

       
        <div *ngIf="loginForm.get('email')?.errors &&loginForm.get('email')?.touched " class="text-danger d-flex align-items-center small m-0 p-0 p-2">
            <img src="./assets/img/invalid.png" width="22" height="22" alt="">
            <p *ngIf="loginForm.get('email')?.getError('required')" class="m-0 mx-1">email is required</p>
            <p *ngIf="loginForm.get('email')?.getError('email')"  class="m-0 mx-1">email is invalid</p>

        </div>

        

        <div class="form-item  mt-2">
            <label for="password">password </label>
            <input type="password" id="password" class="form-control" formControlName="password">
        </div>

        <div *ngIf="loginForm.get('password')?.errors &&loginForm.get('password')?.touched " class="text-danger d-flex align-items-center small m-0 p-0 p-2">
            <img src="./assets/img/invalid.png" width="22" height="22" alt="">
            <p *ngIf="loginForm.get('password')?.getError('required')" class="m-0 mx-1">password is required</p>
            <p *ngIf="loginForm.get('password')?.getError('pattern')"  class="m-0 mx-1">password must contain at least 6 letters</p>

        </div>



        <button [disabled]="loginForm.invalid" class="btn-main mt-2">
            Login
            <span *ngIf="isLoading"> <i class="fas fa-spin fa-spinner ms-1"></i></span>
        </button>


        <div *ngIf="mesError" class="alert alert-danger small m-0 p-0 w-25 m-auto text-center">
            <p  class="m-0 ">{{mesError}}</p>
        </div>
    
    </form>

</section>