$main-color:#0aad0a;


:host{
    display: flex;
    flex-direction: column;
    min-height:100vh ;
}
.main-section{
    padding-top: 70px;
}
.btn-up{
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    z-index: 99;
    background-color: $main-color;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 20px;
}