.btn-main{
    background-color: #0aad0a;
    color: white;
    padding: 4px 8px;
    border-radius: 5px;
    border: 1px solid #0aad0a;
    cursor: pointer;

    &:hover{
    background-color: white;
    color: #0aad0a;
    border: 1px solid #0aad0a;
    }
}